body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}


.nav a {
  color: #5a5a5a;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.nav li {
  display: inline;
}

.page-text {
  line-height: 2em;
  padding-top: 1.5em;
  padding-bottom: 1.2em;
}

.page-title {
  padding-top: 1em;
}

.jumbotron {
  background-image:url('http://sampleon.mobi/views/images/entertainment01.png');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  background: rgb(115, 0, 0);
  opacity:0.75;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  background: rgb(115, 0, 0);
  opacity:0.75;
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}

#signin form { 
margin: 0 auto; 
margin-left: 40em;
margin-top: 20em;
}

body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login .panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #029f5b;
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}

.create-head {
  padding: 1.5em;
  line-height: 2em;
}

p {
  color: black;
  font-size: 1.2em;
}

.create-text {
  padding-bottom: 1em;
  font-size: 1.3em;
}

.home-text {
  font-size: 1.3em;
}

.action-item {
  padding: 1em 3.4em;
}

#event-title {
  font-size: 1.7em;
  color: #6E1111;
}

.organizer {
  font-size: 1.2em;
  padding-top: 1em;
}

.draw-card-blue {
    border-radius: 25px;
    border: 2px solid #170B89;
    padding: 20px; 
}

.draw-card-green {
    border-radius: 25px;
    border: 2px solid #055A11;
    padding: 20px; 
}

.draw-card-red {
    border-radius: 25px;
    border: 3px solid #7A0A21;
    padding: 20px; 
}

.zuppl-card {
  padding-bottom: 2em;
}

label {
  text-align: left;
  color: #333;
}

.comment-box {
  border-radius: 25px;
  border: 2px solid #055A11;
  padding: 20px; 
  margin-bottom: 2em;
}

